/*this is how to comment in css*/
/*sites for check: mozilla.org, caniuse.com*/
header {
    font-size: large;
    font-weight: bold;
}
/*==========================================================================================*/
#first_paragraph {
    background-color: blueviolet;
}
.second_paragraphs {
    background-color: brown;
}
/*==========================================================================================*/
.color_red {
    color: red;
}
.background_yellow {
    background-color: yellow;
}
/*==========================================================================================*/
/*وابستگی*/
.color_red.background_yellow {
    font-weight: bold;
}
.color_red#paragraph {
    font-style: italic;
}
label.background_yellow {
    font-size: x-large;
}
/*چند سطحی*/
div div p {
    background-color: blue;
}
#first #second #therd {
    background-color: aqua;
}
/*==========================================================================================*/
a[href] {
    color: rgb(72, 99, 45);
}
a[href="www.atismobile.ir"] {
    color: blue;
}
a[href*="sample"] {
    color: rgb(102, 204, 0);
}
a[href$="org"] {
    color: rgb(0, 65, 102);
    background-color: black;
}
header ul li[id~="new"] a{
    background-color: darkgoldenrod;
}
/*==========================================================================================*/
li > span {
    background-color: brown;
}
li + span {
    background-color: orangered;
}
li.item + span {
    background-color: rgb(37, 20, 13);
}
li.item ~ span {
    background-color: rgb(245, 127, 84);
}
/*==========================================================================================*/
label:hover {
    background-color: deeppink;
    font-size: x-large;
}
label a:hover {
    color:gold;
}
li:hover {
    background-color: darkcyan;
}

li:hover a {
    color:white;
}


li::before {
    content : " before ";
    color : blue;
}

li::after {
    content : " after ";
    color : red;
}

p::first-line {
    font-weight: bold;
}
/*==========================================================================================*/
#tag_p {
    background: aqua;
    /*padding-left: 10px; 
    padding-top: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px; */
    padding: 10px;
        /*top right bottom left*/

    /*border-width: 10px;
    border-style: solid;
    border-color: brown;*/
    border: 10px solid brown;
    
    /*margin-left: 20%;
    margin-top: 30px;
    margin-right: 20%;
    margin-bottom: 30px;*/
    margin: 30px 20%; /*margin has a default value*/
        /*top right bottom left*/

    width: 50%;
    height: auto;
}
/*
مباحث ارث بری جدی گرفته شود در اچ تی ام ال و سی اس اس تگی
ارجعیت دارد که جدید تر نوشته شده باشد مثلا بین فایل اول و دوم 
لینک شده در فایل اچ تی ام ال فایل دوم ارجعیت دارد و
در سی اس اس اگر استایلی به چیزی دادیم و مجدد استایل دیگری دادیم
استایل های جدید جایگزین استایل های قبلی شده و استایل هایی که 
تغییر نکنندهمچنان استفاده میشوند
*/
/*==========================================================================================*/
.header {
    background-color: yellow;
    width: 100%;
    background-image: url(./image2.jpg);
    background-size: cover;
    background-position:0 40%;
    background-repeat: no-repeat;
    height: 400px;
}
