/*flat ui colers.com*/
.container{
    display: grid;
    /*grid-template-columns: 200px auto 200px; چند ستون داشته باشد*/
    /*grid-template-columns: 1fr 3fr 1fr;*/
    /* grid-template-columns: repeat(12,1fr); */
    /* grid-template-columns: repeat(auto-fit,100px); */
    /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); */
    grid-auto-flow: dense; /*زمانی که فضای خالی ناخواسته بین المان ها داریم*/
    grid-template-rows: 100px 300px 100px;

    grid-template-areas:
    
    "m m h h h h h h h h h h"
    "m m c c c c c c c c c c"
    "f f f f f f f f f f f f"
    ;
    gap: 2px 5px;
    /* row-gap: 2px;
    column-gap: 5px; */
}
.container > div{
    padding: 30px;
    font-size: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}
/*  .container > div:nth-child(even){
    background-color: aqua;
}
.container > div:nth-child(odd){
    background-color: cadetblue;
} */
/* .header{
    background-color: antiquewhite;
    grid-column: 3/-1; /* از اولین خط ستون شروع شود تا خط سوم ادامه پیدا کند
    /* grid-column: 1/3; از یک شروع شود تا انتها ادامه پیدا کند
}
.content{
    background-color:skyblue;
    grid-column: 3/-1;
}
.menu{
    background-color:violet;
    grid-column: 1/3;
    grid-row: 1/3;
}
.footer{
    background-color:tomato;
    grid-column: 1/-1; /*از ۱ شروع شود تا ستون دوم ادامه پیدا کند
    /* grid-column: auto/span 2; از جایی که شروع شود تا ستون دوم ادامه پیدا کند
}*/ 
.header{
    background-color: antiquewhite;
    grid-area: h;
}
.content{
    background-color:skyblue;
    grid-area: c;
}
.menu{
    background-color:violet;
    grid-area: m;
}
.footer{
    background-color:tomato;
    grid-area: f;
}